Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

Arm and Elevator Work
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

Add stuff for Coral
  simgui-ds.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Coral works
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

add mechanism
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
Owners: @AndreasP64

get rid of unused subsystem
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

coral beam break working
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

comments
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
Owners: @AndreasP64

can ids
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

giving up on two classes
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
Owners: @AndreasP64

manipulator subsystem pre check
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIOSim.java
Owners: @AndreasP64

beambreaks work with manipulator class
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

robot container fix
  src/main/java/frc/robot/RobotContainer.java
Owners: none

can
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

can names
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

uncommented subsystems
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevetor and arm works on practice bot
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

coral spin work
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

working scoring
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

algae testing
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Note for ManipulatorIDs
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

Elevator and Arm Sims Work Again
  simgui-ds.json
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

;
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
Owners: @AndreasP64

arm tuning
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

added new button bindings
  src/main/java/frc/robot/RobotContainer.java
Owners: none

added operator mode to dashboard
  src/main/java/frc/robot/RobotContainer.java
Owners: none

Kinda working
  simgui-ds.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

stash
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

managerstash
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

stash
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

package constraints
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

coral wrist
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

arm pid constants velocity
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevator tuning
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

commands for changing of beam break status
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

constraints
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

coral wrist not quite working
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

added joysick imputs to climber
  simgui-ds.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

add static mode object
  src/main/java/frc/robot/Robot.java
Owners: none

Ready to test
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64
