Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

take out outer beambreak temporarily
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

zero wrist
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

Update ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

elevator set up as follower in constructor
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

rezero
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

intake longer
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

change driver controls
  src/main/java/frc/robot/RobotContainer.java
Owners: none

restore outer breambreak
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

move constants for more efficent tuning
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

elevator speed up on practice bot
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

compbot
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

add led commands
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

it works
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

change constants to compbot
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
Owners: none

softstop with guessed clicks
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

ignore disable
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

algae floor intake package working
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevator current limits
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

got rid of align floor intake in coral mode
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

auton intake faster
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

elevator back to voltage motion magic
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

working lights
  leftlow.json
  rightlow.json
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  top-high.json
Owners: @AndreasP64

working l3, barge
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

correct climber stops
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

change coral offset
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
  src/main/java/frc/robot/subsystems/Lights/Lights.java
Owners: @AndreasP64

added new climber out
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

test commands
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

single ratchet position
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

dpad to package
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/Lights/Lights.java
Owners: @AndreasP64

climber deploys
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

climber stops on soft retract
  src/main/java/frc/robot/RobotContainer.java
Owners: none

change target clicks
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

unlocks fingers on climber deploy
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

MT 5:57
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

MT7:18
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

change start and hp pickup
  src/main/deploy/pathplanner/paths/Pickup.1.path
  src/main/deploy/pathplanner/paths/Pickup.2.path
  src/main/deploy/pathplanner/paths/Pickup.3.path
  src/main/deploy/pathplanner/paths/Place.1.path
  src/main/deploy/pathplanner/paths/Place.2.path
  src/main/deploy/pathplanner/paths/Place.3.path
  src/main/deploy/pathplanner/paths/Place.4.path
Owners: none

MT8:03
  src/main/deploy/pathplanner/navgrid.json
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

MT8:24
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

8:53
  src/main/deploy/pathplanner/autos/RedR3.auto
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup 2.path
  src/main/deploy/pathplanner/paths/Pickup 3.path
  src/main/deploy/pathplanner/paths/Place 2.path
  src/main/deploy/pathplanner/paths/Place 3.path
  src/main/deploy/pathplanner/paths/Place 4.path
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

tweak feeder & l3 ele height
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64
