Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

auto updates
  src/main/deploy/pathplanner/paths/Ground Place 1.path
  src/main/deploy/pathplanner/paths/Ground Place 2.path
Owners: none

works!!!!!
  src/main/deploy/pathplanner/paths/Ground Place 2.path
Owners: none

fixed wait times
  src/main/deploy/pathplanner/autos/RightBlueLolipop.auto
  src/main/deploy/pathplanner/paths/RightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

working right red
  src/main/deploy/pathplanner/autos/RightRedLolipop.auto
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

good right and p good red left
  src/main/deploy/pathplanner/autos/LeftRedLolipop.auto
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
Owners: none

auto align lights
  src/main/java/frc/robot/RobotContainer.java
Owners: none

doesn't cancel the gorund intake command if there is a coral in the intake or gripper. experimental code.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

working lights code
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

flipped logic
  src/main/java/frc/robot/RobotContainer.java
Owners: none

commented out the auto climb code so this code can get merged to main
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

red left
  src/main/deploy/pathplanner/autos/LeftRedLolipop.auto
  src/main/deploy/pathplanner/autos/RedLeftLolipop.auto
  src/main/deploy/pathplanner/autos/lolipop organized (old).auto
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/LeftRedRightRedRightBlueGround Place 4.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
Owners: @AndreasP64

blue left first try
  src/main/deploy/pathplanner/autos/BlueLeftLolipop.auto
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/BlueLeftRedLeftRightRedRightBlueGround Place 4.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Change network talbes
  src/main/java/frc/robot/Robot.java
Owners: none

deleted change, doesn't work.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

moving
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

auto climb works.
  src/main/java/frc/robot/RobotContainer.java
Owners: none

L3 brought up half an inch, more sequential
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

blazing fast climb
  src/main/java/frc/robot/RobotContainer.java
Owners: none

Funauto paths
  src/main/deploy/pathplanner/autos/FunAuto.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 4.path
Owners: none

lowered the algae timer at the top, faster barge shot.
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

fix camera green lights on disable
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fix errant heading
  src/main/deploy/pathplanner/paths/RightBlueGround Place 4.path
Owners: none

fix backwards heading
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 4.path
Owners: none

0 auto align
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

wrist offset change, scoring level change, auto align
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

pre-quals
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

add test auto back
  src/main/deploy/pathplanner/autos/TESTING.auto
Owners: none

fix auto-function check
  src/main/deploy/pathplanner/autos/Funky Check.auto
  src/main/deploy/pathplanner/autos/TESTING.auto
  src/main/java/frc/robot/RobotContainer.java
Owners: none

climb farther
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

rumble avalible
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fix function check
  src/main/deploy/pathplanner/autos/Funky Check.auto
Owners: none

commented floor intake rumble
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fix l3 temporary
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

fix pole issue
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

elevatorl3
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

l3 stuff
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Different L3 package on operator release of button.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

made the logic look better
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

operator rumble and l3 fixes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

more controlled intake
  src/main/deploy/pathplanner/paths/RedLeftRightRedRightBlueGround Pickup 3.path
Owners: none
