Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

timer delay on handoff to spin rollers
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

added paths
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/paths/RedG Pickup 1.path
  src/main/deploy/pathplanner/paths/RedG Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Pickup 3.path
  src/main/deploy/pathplanner/paths/RedG Place 1.path
  src/main/deploy/pathplanner/paths/RedG Place 2.path
  src/main/deploy/pathplanner/paths/RedG Place 3.path
  src/main/deploy/pathplanner/paths/RedG Place 4.path
Owners: none

intake handoff is working
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

new
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
Owners: none

works
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/paths/GroundPickup1.path
  src/main/deploy/pathplanner/paths/GroundPlace2.path
Owners: none

added comments, deleted unused code
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

code for an autopackage climber
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

working almost
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/autos/Test.auto
  src/main/deploy/pathplanner/paths/GroundPickup1.path
  src/main/deploy/pathplanner/paths/GroundPlace2.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

timeout changes
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/java/frc/robot/RobotContainer.java
Owners: none

forces a go to package after the auton floor intake.
  src/main/java/frc/robot/RobotContainer.java
Owners: none

add back timeout
  src/main/java/frc/robot/RobotContainer.java
Owners: none

intake with velocity voltage pid
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
Owners: @AndreasP64

opens the climber servos in autoclimb
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

actually turns off when no objects are seen
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

stops command if it sees nothing
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

fix object detection
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

yayyy
  src/main/deploy/pathplanner/autos/Copy of StatesRedR4.auto
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/autos/lolipop test.auto
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/Copy of GroundPickup1.path
  src/main/deploy/pathplanner/paths/Copy of GroundPlace2.path
  src/main/deploy/pathplanner/paths/GroundPickup1.path
  src/main/deploy/pathplanner/paths/GroundPlace2.path
  src/main/deploy/pathplanner/paths/Lolipop Pickup 1.path
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Pickup 3.path
  src/main/deploy/pathplanner/paths/RedG Place 3.path
  src/main/deploy/pathplanner/paths/RedRG Place 1.path
  src/main/deploy/pathplanner/paths/RedRG Place 3.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @B1a7e, @AndreasP64

:0
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/Lolipop Pickup 1.path
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
  src/main/deploy/pathplanner/paths/RedRG Final Path.path
  src/main/deploy/pathplanner/paths/RedRG Place 3.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

lolipopp lolipoppppp
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/Lolipop Pickup 1.path
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Place 2.path
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

3 object intake for final down too late
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Pickup 3.path
  src/main/deploy/pathplanner/paths/RedG Place 2.path
  src/main/deploy/pathplanner/paths/RedRG Place 3.path
Owners: none

4 OBJCET
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/RedRG Final Path.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

LAST COMMIT WAS .1 OFF
  src/main/deploy/pathplanner/autos/lolipop.auto
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
Owners: none

Quick attempt at vision fetch
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

auto align better
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

fix lights command
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

vince intake
  src/main/java/frc/robot/RobotContainer.java
Owners: none

auto align slow in if across is bad
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

added code back
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auto align points
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

changes work with driver practice
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

asdfasdf
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

new names
  src/main/deploy/pathplanner/autos/Center Auto.auto
  src/main/deploy/pathplanner/autos/Copy of StatesRedR4.auto
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/autos/Test.auto
  src/main/deploy/pathplanner/autos/lolipop organized.auto
  src/main/deploy/pathplanner/autos/lolipop test.auto
  src/main/deploy/pathplanner/paths/Copy of GroundPickup1.path
  src/main/deploy/pathplanner/paths/Copy of GroundPlace2.path
  src/main/deploy/pathplanner/paths/Ground Final Path.path
  src/main/deploy/pathplanner/paths/Ground Pickup 1.path
  src/main/deploy/pathplanner/paths/Ground Pickup 2.path
  src/main/deploy/pathplanner/paths/Ground Pickup 3.path
  src/main/deploy/pathplanner/paths/Ground Place 1.path
  src/main/deploy/pathplanner/paths/Ground Place 2.path
  src/main/deploy/pathplanner/paths/Ground Place 3.path
  src/main/deploy/pathplanner/paths/Ground Place 4.path
  src/main/deploy/pathplanner/paths/GroundPickup1.path
  src/main/deploy/pathplanner/paths/Lolipop Pickup 2.path
  src/main/deploy/pathplanner/paths/RedG Place 3.path
  src/main/deploy/pathplanner/paths/RedRG Final Path.path
  src/main/deploy/pathplanner/paths/RedRG Place 3.path
  src/main/deploy/pathplanner/settings.json
Owners: none

RedLeft paths
  src/main/deploy/pathplanner/autos/RedLeftLolipop.auto
  src/main/deploy/pathplanner/paths/RedLeftGround Final Path.path
  src/main/deploy/pathplanner/paths/RedLeftGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RedLeftGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RedLeftGround Pickup 3.path
  src/main/deploy/pathplanner/paths/RedLeftGround Place 1.path
  src/main/deploy/pathplanner/paths/RedLeftGround Place 2.path
  src/main/deploy/pathplanner/paths/RedLeftGround Place 3.path
  src/main/deploy/pathplanner/paths/RedLeftGround Place 4.path
Owners: none

climb brought more out, intake wheels speed changes.
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
Owners: @AndreasP64

deadline the pickups
  src/main/deploy/pathplanner/autos/lolipop organized.auto
Owners: none

cool repath auto
  src/main/deploy/pathplanner/paths/Ground Place 2.path
  src/main/deploy/pathplanner/paths/Ground Place 4.path
Owners: none

changes to auto climb open servos
  src/main/java/frc/robot/RobotContainer.java
Owners: none

add to selector
  src/main/java/frc/robot/RobotContainer.java
Owners: none

change servo code to runonce
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
Owners: @AndreasP64

auto works!
  src/main/deploy/pathplanner/paths/Ground Place 1.path
  src/main/deploy/pathplanner/paths/Ground Place 2.path
  src/main/deploy/pathplanner/paths/Ground Place 3.path
Owners: none
