Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

on the fly working without being in a path
  src/main/deploy/pathplanner/autos/OTF_TESTING.auto
  src/main/deploy/pathplanner/paths/path 1.path
  src/main/deploy/pathplanner/paths/path 3.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

create path with pose
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

named commands and debug
  src/main/deploy/pathplanner/autos/OTF_TESTING.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

kj;l
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

on the fly command not ending
  simgui-ds.json
  src/main/deploy/pathplanner/autos/OTF_TESTING.auto
  src/main/deploy/pathplanner/paths/path 1.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/TrajectoryGenerator/TrajectoryGenerator.java
Owners: @09FALLDAMAGE

added coral from eddies code
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHand.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIO.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIOSim.java
Owners: @AndreasP64

added elevator follower and coral hand beambreak.
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIO.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

humphrey
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/TrajectoryGenerator/TrajectoryGenerator.java
Owners: none

testing
  src/main/deploy/pathplanner/autos/OTF_TESTING.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

candi
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIO.java
Owners: @AndreasP64

added climber
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/AlgaeHand/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/Coral.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHand.java
  src/main/java/frc/robot/subsystems/GameSpec/CoralHand/CoralHandIOReal.java
Owners: @AndreasP64

manager objects for new classes.
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

ronnie updates
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveIO.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveKraken.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveSim.java
Owners: @09FALLDAMAGE

beambreak to algae
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
Owners: @AndreasP64

camera
  src/main/java/frc/robot/subsystems/Camera/Camera.java
Owners: @09FALLDAMAGE, @B1a7e

fixed camera imports
  vendordeps/photonlib.json
Owners: none

added auton chooser
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fixed algin reef
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fixed align reef
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

added match time to dashboard
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

changed keybinds
  src/main/java/frc/robot/RobotContainer.java
Owners: none

added volts to smartdashboard
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

added current to dashboard
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

fixed dashboard
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

actually added amps to dashboard
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

added test alert
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

removed random line fo code
  src/main/deploy/pathplanner/autos/OTF_TESTING.auto
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

added intake structure
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIOSim.java
Owners: @AndreasP64

intake velocity control added
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
Owners: @AndreasP64

Delete src/main/java/frc/robot/subsystems/TrajectoryGenerator/TrajectoryGenerator.java
  src/main/java/frc/robot/subsystems/TrajectoryGenerator/TrajectoryGenerator.java
Owners: none

delete unused assets
  src/main/java/frc/robot/RobotContainer.java
Owners: none

added arm cancoder
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
Owners: @AndreasP64

fix simulation
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

added intake
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

algae cancoder
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
Owners: @AndreasP64

added elevator cancoder
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
Owners: @AndreasP64

moved dashboard to robot class
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

Update RobotContainer.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

Simulation runs
  simgui-ds.json
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevator works correctly
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Coral/CoralConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIOSim.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
