Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

fix indentation and path flipping
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

lolipops
  src/main/deploy/pathplanner/autos/4 w lolipop.auto
  src/main/deploy/pathplanner/paths/- RBlue Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/Copy of BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/Copy of RBlue Place 4.path
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

fix error
  src/main/java/frc/robot/RobotContainer.java
Owners: none

Create FetchTest.auto
  src/main/deploy/pathplanner/autos/FetchTest.auto
Owners: none

autos
  .wpilib/wpilib_preferences.json
  src/main/deploy/pathplanner/autos/FetchTest.auto
  src/main/deploy/pathplanner/paths/Fetch Back.path
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

remove test commands
  src/main/java/frc/robot/RobotContainer.java
Owners: none

torque
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

fetch auto no path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

custom commands for optimising drops
  src/main/deploy/pathplanner/autos/BLUE FLOOR TEST.auto
  src/main/deploy/pathplanner/paths/- RBlue Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
Owners: @09FALLDAMAGE, @AndreasP64

worked!
  src/main/deploy/pathplanner/autos/BLUE FLOOR TEST.auto
  src/main/deploy/pathplanner/paths/- RBlue Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/BlueR Place 3.path
  src/main/deploy/pathplanner/paths/RBlue Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

working blue right lolipop
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 2.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

lolifetch works
  src/main/deploy/pathplanner/autos/BlueRLoliFetch.auto
  src/main/deploy/pathplanner/paths/RightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auto update
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 2.path
Owners: none

flipped
  src/main/deploy/pathplanner/autos/BlueLeftLoliFetch.auto
  src/main/deploy/pathplanner/paths/LeftBlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Place 4.path
Owners: none

left lolipop works
  src/main/deploy/pathplanner/autos/BlueLeftLoliFetch.auto
  src/main/deploy/pathplanner/paths/LeftBlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Pickup 2.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

might have broken it
  src/main/deploy/pathplanner/autos/BlueLeftLoliFetch.auto
  src/main/deploy/pathplanner/paths/LeftRightBlueGround Place 4.path
Owners: none

fix missing sign
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

sacrifice (processor side front 3.5) works!
  src/main/deploy/pathplanner/autos/Backshot-full.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
Owners: none

floor fetch
  src/main/deploy/pathplanner/autos/BLUE FLOOR TEST.auto
  src/main/deploy/pathplanner/paths/- RBlue Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

saturday night done
  src/main/deploy/pathplanner/paths/- RBlue Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/BlueR Place 3.path
  src/main/deploy/pathplanner/paths/RBlue Place 4.path
  src/main/deploy/pathplanner/paths/RightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 3.path
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

Added some documentation for gamespec. Yay.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Correct BotType
  src/main/java/frc/robot/Constants.java
Owners: none

put default gains back in for camerabot
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Updates for Turret
  .Glass/glass.json
  .wpilib/wpilib_preferences.json
  build.gradle
  simgui-ds.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/Turret/Turret.java
  src/main/java/frc/robot/subsystems/Turret/TurretConstants.java
  src/main/java/frc/robot/subsystems/Turret/TurretIO.java
  src/main/java/frc/robot/subsystems/Turret/TurretIOKraken.java
  src/main/java/frc/robot/subsystems/Turret/TurretIOSim.java
  src/main/java/frc/util/PhoenixUtil.java
Owners: @09FALLDAMAGE

Add Minibot Swerve Constants
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/Turret/Turret.java
  src/main/java/frc/robot/subsystems/Turret/TurretConstants.java
  src/main/java/frc/robot/subsystems/Turret/TurretIO.java
  src/main/java/frc/robot/subsystems/Turret/TurretIOKraken.java
  src/main/java/frc/robot/subsystems/Turret/TurretIOSim.java
Owners: @09FALLDAMAGE, @B1a7e

Updated minibot constants :)
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

2024 kinda works maybe
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Ramp added
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

updates for drive command rate limters
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

No Grav Version of Turret angle finding code
  src/main/java/frc/robot/subsystems/Drivetrain/ShootWithMove.java
Owners: @09FALLDAMAGE

access test
  src/main/java/frc/robot/subsystems/Drivetrain/ShootWithMove.java
Owners: @09FALLDAMAGE

Add Comp25 Robot to Base System
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Basic simulation working with MapleSim. No field elements working yet.
  build.gradle
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveIO.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveSim.java
  src/main/java/frc/robot/utils/simulation/MapleSimSwerveDrivetrain.java
  vendordeps/DogLog.json
  vendordeps/maple-sim.json
Owners: @09FALLDAMAGE

Added logging for algae and coral for sim visualization
  src/main/java/frc/robot/utils/simulation/MapleSimSwerveDrivetrain.java
Owners: none

drive works for 2025 comp bot
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Add Turret Example
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/sim/PhysicsSim.java
  src/main/java/frc/robot/sim/TalonFXSimProfile.java
  src/main/java/frc/robot/subsystems/Turret/Turret.java
  src/main/java/frc/robot/subsystems/Turret/TurretConstants.java
  src/main/java/frc/robot/subsystems/Turret/TurretKraken.java
Owners: none
