Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

good pbot drive gains
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

adsf
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

new algae class, default command
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIOReal.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

cleanup
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

cleanup coral class
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

slows down when close to object
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

Revert "Merge branch 'practice-bot-main' into chase-object"
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
Owners: @09FALLDAMAGE, @AndreasP64

field centric to align object + tuned a bit
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

print lines removed
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

gamespec purge
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

optimize bus utilization added.
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

Tuesday
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveKraken.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @09FALLDAMAGE, @AndreasP64

wrist offset
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

change null pointers
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

intake unused stuff
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
Owners: @AndreasP64

intake height
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

working algae
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

add good logic for blue right 4
  src/main/deploy/pathplanner/autos/BlueR4.auto
  src/main/deploy/pathplanner/autos/BlueR4Old.auto
  src/main/deploy/pathplanner/paths/Pickup.2.path
  src/main/deploy/pathplanner/paths/Place 1.path
Owners: none

spacing
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

Change DEVBOT to COMPBOT
  src/main/java/frc/robot/Constants.java
Owners: none

updated autos
  src/main/deploy/pathplanner/autos/RedL4Old.auto
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/CoralP1.path
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/CoralP4.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/deploy/pathplanner/paths/CoralP6.path
  src/main/deploy/pathplanner/paths/CoralP7.path
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup 2.path
  src/main/deploy/pathplanner/paths/Pickup 3.path
  src/main/deploy/pathplanner/paths/Place 2.path
  src/main/deploy/pathplanner/paths/Place 3.path
  src/main/deploy/pathplanner/paths/Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

comment things
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

done
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

?
  src/main/java/frc/robot/RobotContainer.java
Owners: none

changes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
Owners: @09FALLDAMAGE, @AndreasP64

update l3 position
  src/main/deploy/pathplanner/autos/Copy of RedR3.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

tune drivetrain chase
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

tuning auto coral
  src/main/deploy/pathplanner/paths/CoralP1.path
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/CoralP4.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

left 3 object working 70%
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/paths/CoralP1.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/deploy/pathplanner/paths/CoralP6.path
  src/main/deploy/pathplanner/paths/CoralP7.path
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

85% 3 obj
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/deploy/pathplanner/paths/CoralP7.path
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

tune
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

left works
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/CoralP4.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/deploy/pathplanner/paths/CoralP6.path
  src/main/deploy/pathplanner/paths/CoralP7.path
Owners: none

working left and right auto
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/Place 1.path
  src/main/java/frc/robot/RobotContainer.java
Owners: none

right is good
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup 2.path
  src/main/deploy/pathplanner/paths/Pickup 3.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

2 consistent red autos
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/paths/CoralP3.path
Owners: none

delete bad autos
  src/main/deploy/pathplanner/autos/Copy of RedR3.auto
  src/main/deploy/pathplanner/autos/RedL3.auto
  src/main/deploy/pathplanner/autos/RedL4Old.auto
Owners: none

Fix blue sided autos
  src/main/deploy/pathplanner/autos/BlueL3.auto
  src/main/deploy/pathplanner/autos/BlueL4.auto
  src/main/deploy/pathplanner/autos/BlueR3.auto
  src/main/deploy/pathplanner/autos/BlueR4.auto
  src/main/deploy/pathplanner/autos/BlueR4Old.auto
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/3 Place.path
  src/main/deploy/pathplanner/paths/BlueL 1 Pickup.path
  src/main/deploy/pathplanner/paths/BlueL 1 Place.path
  src/main/deploy/pathplanner/paths/BlueL 2 Pickup.path
  src/main/deploy/pathplanner/paths/BlueL 2 Place.path
  src/main/deploy/pathplanner/paths/BlueL 3 Pickup.path
  src/main/deploy/pathplanner/paths/BlueL 4 Place.path
  src/main/deploy/pathplanner/paths/BlueL3 Place.path
  src/main/deploy/pathplanner/paths/BlueR Pickup.1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup.2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup.3.path
  src/main/deploy/pathplanner/paths/BlueR Place.1.path
  src/main/deploy/pathplanner/paths/BlueR Place.2.path
  src/main/deploy/pathplanner/paths/BlueR Place.3.path
  src/main/deploy/pathplanner/paths/BlueR Place.4.path
  src/main/deploy/pathplanner/paths/RedLP1.path
  src/main/deploy/pathplanner/paths/RedLP2.path
  src/main/deploy/pathplanner/paths/RedLP3.path
  src/main/deploy/pathplanner/paths/RedLP4.path
  src/main/deploy/pathplanner/paths/RedLP5.path
  src/main/deploy/pathplanner/paths/RedLP6.path
  src/main/deploy/pathplanner/paths/RedLP7.path
  src/main/deploy/pathplanner/paths/RedR Pickup 1.path
  src/main/deploy/pathplanner/paths/RedR Pickup 2.path
  src/main/deploy/pathplanner/paths/RedR Pickup 3.path
  src/main/deploy/pathplanner/paths/RedR Place 1.path
  src/main/deploy/pathplanner/paths/RedR Place 2.path
  src/main/deploy/pathplanner/paths/RedR Place 3.path
  src/main/deploy/pathplanner/paths/RedR Place 4.path
Owners: none

chasse coral fix
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

right side good
  src/main/deploy/pathplanner/autos/BlueR4.auto
  src/main/deploy/pathplanner/paths/BlueR Pickup.1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup.2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup.3.path
  src/main/deploy/pathplanner/paths/BlueR Place.1.path
  src/main/deploy/pathplanner/paths/BlueR Place.2.path
  src/main/deploy/pathplanner/paths/BlueR Place.3.path
  src/main/deploy/pathplanner/paths/BlueR Place.4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

working blue left
  src/main/deploy/pathplanner/paths/BlueL 1 Pickup.path
  src/main/deploy/pathplanner/paths/BlueL 1 Place.path
  src/main/deploy/pathplanner/paths/BlueL 2 Place.path
Owners: none

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
