Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

changed practice bot constants
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

changed algae align constants
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

networktables not working
  simgui-ds.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

new L4 package that actually gets interrupted by the until decorator
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

intake subsystem overhaul
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

intake deploys to ground
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

ground intake stops when a coral is detected
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

oogabooga
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

bump
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

lights 👍
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Lights/Lights.java
Owners: none

disabled lights
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

move lights
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/LEDsConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

fancy lights 💿
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

l4 score package verified
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

rjus
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

all done
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

camera lights
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/LEDsConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @B1a7e, @AndreasP64

groud intake with human player intake
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

sequence with elevator on floor intake
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

object detecting
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

fix drivetrain
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
Owners: @09FALLDAMAGE, @AndreasP64

fix steering
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Fix coral wrist
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

fix ground intake constraints
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fix hp pos
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

amazing 2 object
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

shoots all 4
  src/main/deploy/pathplanner/autos/RedR4.auto
Owners: none

cool 4 object (slow)
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/Place 4.path
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

half height
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

intake goes down in climb sequence
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

lights
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/LEDsConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Lights/Lights.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

upper limits and fix stuff
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

intake is in elevator with lower clearance height
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

climber switches on practice bot
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
Owners: @AndreasP64

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

works + teleop align to object
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

edit drive current limits and floor intake binds
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

bump for low algae
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
Owners: @AndreasP64

change offset
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

go torque foc
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE
