Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

pole offsets
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

after first practice match
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

change l2 higher 2 inches
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

before fourth practice match.
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

edit 2nd pickup to go all the way in
  src/main/deploy/pathplanner/paths/RedLP4.path
  src/main/deploy/pathplanner/paths/RedLP5.path
Owners: none

intake 0 fix
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

arm zero
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
Owners: @AndreasP64

change 0
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

hold algae and auto align miss
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

algae holding increase power and distance
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
Owners: @AndreasP64

update -60
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

scoring height and arm changes on practice field.
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

We tuned the arm to get the oscillations out. Changes to the wrist setpoints.
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

increase l2 shot 2 inches
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

evan's wrist fix for auton
  src/main/deploy/pathplanner/autos/TESTING.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

auto l4 and climber limit switch
  src/main/deploy/pathplanner/autos/TESTING.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

slower auto func check
  src/main/deploy/pathplanner/autos/TESTING.auto
Owners: none

auto l4 + 1 inch also make it nice
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

arm pid tuning with expo, new zero position for kg
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @09FALLDAMAGE, @AndreasP64

default command is good
  src/main/java/frc/robot/RobotContainer.java
Owners: none

L3 workable state
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

oogaboooogaa
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

reworked scoring positions for the longer arm
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

human player station intake height and angle changes
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

got rid of useless comments
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

added floor intake deploy to a named command for auton
  src/main/java/frc/robot/RobotContainer.java
Owners: none

auto barge logic, hasn't been tested yet
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

it doesn't matter
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/java/frc/robot/RobotContainer.java
Owners: none

added initial intake deploy for auton
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

annas changes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

oog
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

commit
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

update
  src/main/deploy/pathplanner/autos/BLUEL4Pick&Place.auto
  src/main/deploy/pathplanner/autos/BLUER4Pick&Place.auto
  src/main/deploy/pathplanner/autos/Blue1.auto
  src/main/deploy/pathplanner/autos/BlueL3.auto
  src/main/deploy/pathplanner/autos/BlueR3.auto
  src/main/deploy/pathplanner/autos/Commands.auto
  src/main/deploy/pathplanner/autos/Copy of BlueL3.auto
  src/main/deploy/pathplanner/autos/Copy of Slow (Blue Side).auto
  src/main/deploy/pathplanner/autos/Copy of Slow.auto
  src/main/deploy/pathplanner/autos/First Test.auto
  src/main/deploy/pathplanner/autos/First.auto
  src/main/deploy/pathplanner/autos/FloorPickupRotation.auto
  src/main/deploy/pathplanner/autos/Hello.auto
  src/main/deploy/pathplanner/autos/LRed4.auto
  src/main/deploy/pathplanner/autos/Practice1.auto
  src/main/deploy/pathplanner/autos/REDL4Place&Pickup.auto
  src/main/deploy/pathplanner/autos/REDL4Place&PickupOg.auto
  src/main/deploy/pathplanner/autos/REDPLA2.0.auto
  src/main/deploy/pathplanner/autos/REDR4Place&Pickup.auto
  src/main/deploy/pathplanner/autos/RRed4.auto
  src/main/deploy/pathplanner/autos/Red Place and return.auto
  src/main/deploy/pathplanner/autos/Red1.auto
  src/main/deploy/pathplanner/autos/RedCoral4Left.auto
  src/main/deploy/pathplanner/autos/RedCoral4Test.auto
  src/main/deploy/pathplanner/autos/RedCoralIntake.auto
  src/main/deploy/pathplanner/autos/RedL3.auto
  src/main/deploy/pathplanner/autos/Second.auto
  src/main/deploy/pathplanner/autos/Slow.auto
  src/main/deploy/pathplanner/autos/Test.auto
  src/main/deploy/pathplanner/autos/Test2.auto
  src/main/deploy/pathplanner/autos/Third.auto
  src/main/deploy/pathplanner/autos/fast.auto
  src/main/deploy/pathplanner/autos/initAuto.auto
  src/main/deploy/pathplanner/paths/GroundPlace2.path
  src/main/deploy/pathplanner/paths/Test123.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @B1a7e, @AndreasP64

barge algae working
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

stops the drivetrain with the barge shot
  src/main/java/frc/robot/RobotContainer.java
Owners: none

it worked!
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/java/frc/robot/RobotContainer.java
Owners: none

barge distances are good
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

update gains
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

intake is on a velocity pid, handoff still doesn't get the coral perfect in the gripper.
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auto-update
  src/main/deploy/pathplanner/autos/StatesRedR4.auto
  src/main/deploy/pathplanner/paths/GroundPickup1.path
  src/main/deploy/pathplanner/paths/GroundPlace1.path
Owners: none

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
