Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

climber stuff added, not tested yet.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

climber climbs
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

climber command works
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

fixed package
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

correct climber position
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

changed constants system for gamespec to account for different comp bot, practice bot, and sim constants.
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

changes
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

added some algae functionality that needs to be tested.
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

algae changes
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

works slow
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

works fast
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

got rid of excess algae
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

voltage on algae roller
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

algae intakes on driver right trigger
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

added intake stuff
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

algae intake flips out
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

changed to practice bot
  src/main/java/frc/robot/Constants.java
Owners: none

Current Lmits frame work
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

added algae stuff
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Create compbot.json
  compbot.json
Owners: none

scores in the processor
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

fixed coral wrist
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

scoring height changes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
Owners: @AndreasP64

L2 changes
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Constraints change on L2, new L2 package
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

intake sequence works
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

floor intake
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

floor intake height change
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

changed to devbot in constants
  src/main/java/frc/robot/Constants.java
Owners: none

spacing fixes with current limits
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

got rid of climber current limits
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
Owners: @AndreasP64

brownie
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
Owners: @09FALLDAMAGE, @B1a7e

Update Camera.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
Owners: @09FALLDAMAGE, @B1a7e

Update Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

revans robotcentric updates
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE, @B1a7e

working auto align i think
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

barge additions
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevatorheightchanges
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64
