Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

l3 score elevator from CAD
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

l3 package and barge zone
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

auto timeout right blue
  src/main/deploy/pathplanner/autos/RightBlueLolipop.auto
Owners: none

other 1st shot timeouts
  src/main/deploy/pathplanner/autos/BlueLeftLolipop.auto
  src/main/deploy/pathplanner/autos/RedLeftLolipop.auto
  src/main/deploy/pathplanner/autos/RightRedLolipop.auto
Owners: none

for L3 arm moves 5 degrees less
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
Owners: @AndreasP64

tune and rezero arm
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
Owners: @AndreasP64

rezzero intake
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

move blue right last shot auto align point
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

fix auto barge on blue
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

fix blue left front A pole
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

manual barge and height raise
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

updated autons + barge + aa
  src/main/deploy/pathplanner/autos/RightRedLolipop.auto
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightRedRightBlueGround Place 2.path
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

fix paths
  src/main/deploy/pathplanner/paths/RightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 2.path
Owners: none

offsets for DTE
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

lower intake before fim practice 1
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
Owners: @AndreasP64

moved the climber down, blue auto changes. Won states too btw.
  src/main/deploy/pathplanner/autos/RightBlueLolipop.auto
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

bump intake out more on low algae pluck. GM field ready.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

Driver can drive back on barge.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

mini-auto
  src/main/deploy/pathplanner/autos/BlueBackshot.auto
  src/main/deploy/pathplanner/autos/MiniBackshot.auto
  src/main/deploy/pathplanner/autos/RightRedLolipop.auto
  src/main/deploy/pathplanner/paths/BackShotMiniBackup.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Auto package climber moves slower, then fast
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

increased time for climb
  src/main/java/frc/robot/RobotContainer.java
Owners: none

l3 logic
  src/main/deploy/pathplanner/autos/MiniBackshot.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Fetch attempt at end of 4/8
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

cool ball auto
  src/main/deploy/pathplanner/autos/MiniBackshot.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auton optimization
  src/main/deploy/pathplanner/autos/MiniBackshot.auto
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

l3s optimized
  src/main/deploy/pathplanner/autos/MiniBackshot-optimized.auto
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

floor intake to L3
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

optimised high pluck
  src/main/deploy/pathplanner/autos/MiniBackshot-optimized.auto
Owners: none

Add named command
  src/main/java/frc/robot/RobotContainer.java
Owners: none

better processor
  src/main/java/frc/robot/subsystems/GameSpec/Algae/Algae.java
  src/main/java/frc/robot/subsystems/GameSpec/Algae/AlgaeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

faster align
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

old auto working
  src/main/deploy/pathplanner/autos/BlueL4.auto
  src/main/deploy/pathplanner/autos/BlueR4.auto
  src/main/deploy/pathplanner/autos/RedL4.auto
  src/main/deploy/pathplanner/autos/RedR4.auto
  src/main/deploy/pathplanner/paths/RedR Place 2.path
Owners: none

algae balls go the correct way
  src/main/deploy/pathplanner/autos/MiniBackshot-optimized.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Final Path.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @09FALLDAMAGE, @AndreasP64

better ball handling
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 3.path
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

4 backshot almost works - algae issues
  src/main/deploy/pathplanner/autos/Backshot-full.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 2.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auto is working
  src/main/deploy/pathplanner/autos/BLUE TEST.auto
  src/main/deploy/pathplanner/autos/BLUE.auto
  src/main/deploy/pathplanner/autos/Copy of RedR4.auto
  src/main/deploy/pathplanner/autos/Copy of Regular4.auto
  src/main/deploy/pathplanner/autos/Regular4.auto
  src/main/deploy/pathplanner/autos/TestofRegular4.auto
  src/main/deploy/pathplanner/paths/4FinalPath.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/BlueR Place 2.path
  src/main/deploy/pathplanner/paths/BlueR Place 3.path
  src/main/deploy/pathplanner/paths/RBlue Place 4.path
  src/main/deploy/pathplanner/paths/RRed Place4.path
  src/main/deploy/pathplanner/paths/RRedPickup1.path
  src/main/deploy/pathplanner/paths/RRedPickup2.path
  src/main/deploy/pathplanner/paths/RRedPickup3.path
  src/main/deploy/pathplanner/paths/RRedPlace1.path
  src/main/deploy/pathplanner/paths/RRedPlace2.path
  src/main/deploy/pathplanner/paths/RedR Pickup 1.path
  src/main/deploy/pathplanner/paths/RedR Pickup 2.path
  src/main/deploy/pathplanner/paths/RedR Place 2.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 1.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
Owners: @09FALLDAMAGE, @B1a7e

kinda works
  src/main/deploy/pathplanner/autos/BLUE TEST.auto
  src/main/deploy/pathplanner/paths/BlueR Pickup 1.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 2.path
  src/main/deploy/pathplanner/paths/BlueR Pickup 3.path
  src/main/deploy/pathplanner/paths/RightBlueGround Place 1.path
  src/main/java/frc/robot/RobotContainer.java
Owners: none

torqueFOC maybe
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

cool autos
  src/main/deploy/pathplanner/autos/Backshot-full.auto
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Pickup 3.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 1.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 2.path
  src/main/deploy/pathplanner/paths/FunRightBlueGround Place 4.path
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

working
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
