Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

WORKING AUTO ALIGN
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE, @B1a7e

working auto and tele align with constants
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

autos
  src/main/deploy/pathplanner/autos/Copy of Slow.auto
  src/main/deploy/pathplanner/autos/LRed4.auto
  src/main/deploy/pathplanner/paths/REDL4Pickup2.path
  src/main/deploy/pathplanner/paths/REDL4Pickup3.path
  src/main/deploy/pathplanner/paths/REDL4Place1.path
  src/main/deploy/pathplanner/paths/REDL4Place2.path
  src/main/deploy/pathplanner/paths/REDL4Place3.path
  src/main/deploy/pathplanner/paths/REDL4Place4.path
Owners: none

autos2
  src/main/deploy/pathplanner/autos/Commands.auto
  src/main/deploy/pathplanner/autos/Copy of Slow (Blue Side).auto
  src/main/deploy/pathplanner/autos/First Test.auto
  src/main/deploy/pathplanner/autos/First.auto
  src/main/deploy/pathplanner/autos/Hello.auto
  src/main/deploy/pathplanner/autos/RRed4.auto
  src/main/deploy/pathplanner/autos/Slow.auto
  src/main/deploy/pathplanner/autos/Test2.auto
  src/main/deploy/pathplanner/paths/1S.path
  src/main/deploy/pathplanner/paths/2S.path
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/CoralP4.path
  src/main/deploy/pathplanner/paths/CoralP5.path
  src/main/deploy/pathplanner/paths/CoralP7.path
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Place 1.path
  src/main/deploy/pathplanner/paths/REDL4Pickup1.path
  src/main/deploy/pathplanner/paths/SPickup2.path
  src/main/deploy/pathplanner/paths/SPlace2.path
  src/main/deploy/pathplanner/settings.json
Owners: none

auto works :)
  src/main/deploy/pathplanner/autos/First.auto
  src/main/deploy/pathplanner/autos/LRed4.auto
  src/main/deploy/pathplanner/paths/1.path
  src/main/deploy/pathplanner/paths/1b.path
  src/main/deploy/pathplanner/paths/2.path
  src/main/deploy/pathplanner/paths/2b.path
  src/main/deploy/pathplanner/paths/3.path
  src/main/deploy/pathplanner/paths/3b.path
  src/main/deploy/pathplanner/paths/4.path
  src/main/deploy/pathplanner/paths/4b.path
  src/main/deploy/pathplanner/paths/5.path
  src/main/deploy/pathplanner/paths/5b.path
  src/main/deploy/pathplanner/paths/ConfigRedCoral.path
  src/main/deploy/pathplanner/paths/New New New Path.path
  src/main/deploy/pathplanner/paths/New New Path.path
  src/main/deploy/pathplanner/paths/New Path.path
  src/main/deploy/pathplanner/paths/Place 1.path
  src/main/deploy/pathplanner/paths/Place 2.path
  src/main/deploy/pathplanner/paths/REDL4Pickup1.path
  src/main/deploy/pathplanner/paths/REDL4Pickup2.path
  src/main/deploy/pathplanner/paths/REDL4Pickup3.path
  src/main/deploy/pathplanner/paths/REDL4Place2.path
  src/main/deploy/pathplanner/paths/REDL4Place3.path
  src/main/deploy/pathplanner/paths/REDL4Place4.path
  src/main/deploy/pathplanner/paths/REDR4Pickup1.path
  src/main/deploy/pathplanner/paths/REDR4Pickup2.path
  src/main/deploy/pathplanner/paths/REDR4Pickup3.path
  src/main/deploy/pathplanner/paths/REDR4Place2.path
  src/main/deploy/pathplanner/paths/REDR4Place3.path
  src/main/deploy/pathplanner/paths/RedP2.path
  src/main/deploy/pathplanner/paths/RedR4Place1.path
  src/main/deploy/pathplanner/paths/SPickup1.path
  src/main/deploy/pathplanner/paths/SPlace1.path
  src/main/deploy/pathplanner/paths/Test.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveIO.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveKraken.java
Owners: @09FALLDAMAGE

3 object working
  src/main/deploy/pathplanner/autos/First.auto
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup2.path
  src/main/deploy/pathplanner/paths/Place 2.path
  src/main/deploy/pathplanner/paths/Place2.path
  src/main/deploy/pathplanner/paths/Place3.path
Owners: none

working auto-align on compbot
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

fix intake
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

climber out
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

packaging from climbing state
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

driver practice update
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @09FALLDAMAGE, @B1a7e, @AndreasP64

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

mini score
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

firstauto
  src/main/deploy/pathplanner/autos/Copy of First.auto
  src/main/deploy/pathplanner/paths/CoralP1.path
  src/main/deploy/pathplanner/paths/CoralP3.path
  src/main/deploy/pathplanner/paths/Place 1.path
Owners: none

arm change from motion magic to position pid with torque
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

arm constant
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
Owners: @AndreasP64

auto update
  src/main/deploy/pathplanner/autos/BlueL3.auto
  src/main/deploy/pathplanner/autos/BlueR3.auto
  src/main/deploy/pathplanner/autos/Copy of First.auto
  src/main/deploy/pathplanner/autos/First.auto
  src/main/deploy/pathplanner/autos/RedL3.auto
  src/main/deploy/pathplanner/autos/RedR3.auto
  src/main/deploy/pathplanner/autos/Second.auto
  src/main/deploy/pathplanner/paths/1 Pickup.path
  src/main/deploy/pathplanner/paths/1 Place.path
  src/main/deploy/pathplanner/paths/2 Pickup.path
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup 2.path
  src/main/deploy/pathplanner/paths/Pickup 3.path
  src/main/deploy/pathplanner/paths/Pickup.1.path
  src/main/deploy/pathplanner/paths/Pickup.2.path
  src/main/deploy/pathplanner/paths/Place 3.path
  src/main/deploy/pathplanner/paths/Place 4.path
  src/main/deploy/pathplanner/paths/Place.1.path
  src/main/deploy/pathplanner/paths/Place.2.path
  src/main/deploy/pathplanner/paths/Place.3.path
  src/main/deploy/pathplanner/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveKraken.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

added algae package
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

added wrist stays on shoot, climber package, algae package on high and low
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

more auto updates
  src/main/deploy/pathplanner/autos/RedR3.auto
  src/main/deploy/pathplanner/paths/Pickup 1.path
  src/main/deploy/pathplanner/paths/Pickup 2.path
  src/main/deploy/pathplanner/paths/Place 1.path
  src/main/deploy/pathplanner/paths/Place 3.path
Owners: none

auto
  src/main/deploy/pathplanner/autos/RedL3.auto
  src/main/deploy/pathplanner/paths/CoralP2.path
  src/main/deploy/pathplanner/paths/CoralP6.path
Owners: none

climber deploy works
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/Intake.java
  src/main/java/frc/robot/subsystems/GameSpec/Intake/IntakeConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

auton wrist stays on score
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

changed buttons for taelyn
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fixes to algae intake position
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

barge height increase
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

working leds
  .vscode/settings.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/Lights/LEDsConstants.java
  src/main/java/frc/robot/subsystems/Lights/Lights.java
Owners: @AndreasP64

auto update
  src/main/deploy/pathplanner/autos/BlueL3.auto
  src/main/deploy/pathplanner/autos/BlueR3.auto
  src/main/deploy/pathplanner/autos/initAuton.auto
  src/main/deploy/pathplanner/paths/Pickup.3.path
  src/main/deploy/pathplanner/paths/Place.3.path
  src/main/deploy/pathplanner/paths/initPath.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

updated autps
  src/main/deploy/pathplanner/autos/initAuto.auto
  src/main/deploy/pathplanner/paths/initPath.path
  src/main/java/frc/robot/Robot.java
Owners: none

added wait time
  src/main/deploy/pathplanner/autos/RedR3.auto
Owners: none

Update Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

no delay on auton enable
  src/main/deploy/pathplanner/autos/RedR3.auto
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

updated drive for blue
  src/main/deploy/pathplanner/paths/Pickup.3.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE, @B1a7e

blue side works
  src/main/java/frc/robot/RobotContainer.java
Owners: none

auto update
  src/main/deploy/pathplanner/autos/Copy of BlueL3.auto
  src/main/deploy/pathplanner/paths/1 Pickup.path
  src/main/deploy/pathplanner/paths/1 Place.path
  src/main/deploy/pathplanner/paths/2 Place.path
  src/main/java/frc/robot/RobotContainer.java
Owners: none

faster blue auto
  src/main/deploy/pathplanner/autos/BlueR3.auto
  src/main/deploy/pathplanner/paths/Place.4.path
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

faster blue start
  src/main/deploy/pathplanner/paths/Place.1.path
Owners: none

fix algae auto align on blue with the gripper not being centered
  src/main/deploy/pathplanner/paths/Place.4.path
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Update Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
