Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e

Ready to test
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

fix cameras from erroring and add mode in robotContainer
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
Owners: @09FALLDAMAGE, @B1a7e

algae commands
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

cleaned up code
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Update DriveConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

coral working, not fast gains
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

added climber mode to the climber joystick
  src/main/java/frc/robot/RobotContainer.java
Owners: none

climber no servo
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
Owners: @AndreasP64

position voltage
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

Update RobotContainer.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

got rid of unused commands
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

BeamBreakLogic works
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

update testing
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

fixed andreas code
  simgui-ds.json
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

good 👍
  src/main/java/frc/robot/RobotContainer.java
Owners: none

working camerabot drivetrain
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  vendordeps/photonlib-json-1.0.json
  vendordeps/photonlib.json
Owners: @09FALLDAMAGE, @AndreasP64

working camera and drive constants for both robots
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
Owners: @09FALLDAMAGE, @B1a7e

coral working
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

annas autons
  src/main/deploy/pathplanner/autos/LRed4.auto
  src/main/deploy/pathplanner/paths/Pickup1.path
  src/main/deploy/pathplanner/paths/Pickup2.path
  src/main/deploy/pathplanner/paths/Place1.path
  src/main/deploy/pathplanner/paths/Place2.path
  src/main/deploy/pathplanner/paths/REDL4Pickup1.path
  src/main/deploy/pathplanner/paths/REDL4Pickup2.path
  src/main/deploy/pathplanner/paths/REDL4Pickup3.path
  src/main/deploy/pathplanner/paths/REDL4Place1.path
  src/main/deploy/pathplanner/paths/REDL4Place2.path
  src/main/deploy/pathplanner/paths/REDL4Place3.path
  src/main/deploy/pathplanner/paths/REDL4Place4.path
  src/main/deploy/pathplanner/paths/RedP1.path
  src/main/deploy/pathplanner/paths/RedP3.path
  src/main/deploy/pathplanner/paths/RedP4.path
  src/main/deploy/pathplanner/paths/RedP5.path
  src/main/deploy/pathplanner/settings.json
Owners: none

Update RobotContainer.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

wrist good
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

intakes from human player
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

wait added to beambreak intake
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

scores on level 4
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

winner
  src/main/deploy/pathplanner/autos/BLUEL4Pick&Place.auto
  src/main/deploy/pathplanner/autos/BLUER4Pick&Place.auto
  src/main/deploy/pathplanner/autos/REDR4Place&Pickup.auto
  src/main/deploy/pathplanner/autos/RedCoralIntake.auto
  src/main/deploy/pathplanner/paths/REDR4Pickup4.path
  src/main/deploy/pathplanner/paths/REDRPlace4.path
  src/main/java/frc/robot/RobotContainer.java
Owners: none

select command
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

scoring coral on all levels works
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

Update main.yml
  .github/workflows/main.yml
Owners: @thompsonevan

driver practice
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

Update CameraConstants.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
Owners: @09FALLDAMAGE, @B1a7e

added servo class
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberIO.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

CAMERAS-WORK
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE, @B1a7e
