Repository HOTprogramming/Base2025, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thompsonevan, @AndreasP64, @09FALLDAMAGE, @B1a7e

Update RobotContainer.java
  src/main/java/frc/robot/RobotContainer.java
Owners: none

fixed deadbands
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

delete arm bypass
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

disable heading control when robot is tilted
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveIO.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveKraken.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveSim.java
Owners: @09FALLDAMAGE

Add lights code
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Lights/LEDsConstants.java
  src/main/java/frc/robot/subsystems/Lights/Lights.java
Owners: none

add dependency
  vendordeps/Phoenix5-5.35.1.json
Owners: none

driver auto rotate, driver minimum speed, arm auto-return while intaking,
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @09FALLDAMAGE, @AndreasP64

added check for current
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

cancels command if current spikes for scoring
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

cancel shoot command implemented, not tested yet.
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

work
  src/main/java/frc/robot/RobotContainer.java
Owners: none

good
  src/main/java/frc/robot/RobotContainer.java
Owners: none

added change for l1 score, not tested yet.
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

added command calling servo
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

add pid controllers
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE

working but to bad positions
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

works, has a little twitch though
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

cameras stuff work
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
Owners: @09FALLDAMAGE, @B1a7e

fix
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

changed tolerance
  src/main/java/frc/robot/subsystems/Drivetrain/Drive.java
Owners: @09FALLDAMAGE

arm command fixes
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/Camera/Camera.java
  src/main/java/frc/robot/subsystems/Camera/CameraConstants.java
  src/main/java/frc/robot/subsystems/Drivetrain/DriveConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @09FALLDAMAGE, @B1a7e, @AndreasP64

better logic
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

l3
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

added more pos for servo
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

scoring fixed
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

l2 scoring fix
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

elevatorconstants
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

final arm changes
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
Owners: @AndreasP64

Servos moving correctly
  .wpilib/wpilib_preferences.json
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

scoring good
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

better pos for servos
  src/main/java/frc/robot/subsystems/GameSpec/Climber/Climber.java
  src/main/java/frc/robot/subsystems/GameSpec/Climber/ClimberConstants.java
Owners: @AndreasP64

check if done scoring and beambreak detection if done scoring
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

fix in robot container
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

works on all 4 levels
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

eddies fix
  src/main/java/frc/robot/subsystems/GameSpec/Arm/Arm.java
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/ManipulatorIO.java
Owners: @AndreasP64

saved
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

climber merge
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

L3 works
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
  src/main/java/frc/robot/subsystems/GameSpec/Manipulator/Manipulator.java
Owners: @AndreasP64

Works
  src/main/java/frc/robot/subsystems/GameSpec/Arm/ArmConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/Elevator.java
  src/main/java/frc/robot/subsystems/GameSpec/Elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/GameSpec/Manager.java
Owners: @AndreasP64

;kj
  src/main/java/frc/robot/RobotContainer.java
Owners: none

.github/CODEOWNERS:

/.github/ @thompsonevan

src/main/java/frc/robot/subsystems/GameSpec/       @AndreasP64
src/main/java/frc/robot/subsystems/Drivetrain/     @09FALLDAMAGE
src/main/java/frc/robot/subsystems/Camera/         @09FALLDAMAGE @B1a7e
